@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.scrollbar-hidden {
  scrollbar-width: thin;
}

.circle-bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-bg::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    90deg,
    #f46b45 0%,
    #ff5f6d 50%,
    #eea849 100%
  );
  height: 350px;
  width: 350px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-100%);
  z-index: -10;
}

.footer-image {
  background-image: url("/images/footer-frame-without-text.png");
  background-size: cover;
  background-position: left;
}

.pattern-1,
.pattern-2,
.pattern-3,
.pattern-4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pattern-1::after,
.pattern-2::after,
.pattern-3::after,
.pattern-4::after {
  content: "";
  position: absolute;
  
  background-size: contain;
  height: 150px;
  width: 150px;
  
  top: 35%;
  z-index: -10;
}
.pattern-1::after {
  background-image: url("/images/pattern (1).png");
  left: -55%;
}

.pattern-2::after {
  background-image: url("/images/pattern (2).png");
  right: -55%;
}
.pattern-3::after {
  background-image: url("/images/pattern (3).png");
  left: -55%;
}
.pattern-4::after {
  background-image: url("/images/pattern (4).png");
  right: -55%;
}
@media screen and (max-width: 768px) {
  .pattern-1::after,
  .pattern-2::after,
  .pattern-3::after,
  .pattern-4::after {
    display: none;
  }
}
