@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.scrollbar-hidden {
  scrollbar-width: thin;
}

.circle-bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-bg::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    90deg,
    #f46b45 0%,
    #ff5f6d 50%,
    #eea849 100%
  );
  height: 350px;
  width: 350px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-100%);
  z-index: -10;
}
